.matchingFather{
    margin-top: 20%;
    height: 100wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .matchingImgVS{
        position: absolute;
        width: 100px;        
    }
    form{
        margin: 0%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .matchingMentorOrMenteeIMG{
            border: 0.5px solid black;
            margin: 3%;
            width: 200px;
        } 
        div{
            margin: 0;
            display: flex;
            flex-direction: column;
            h5{
                margin: 0;
            }
            p{
                margin: 0;
                color: #333;
                font-size: 13px;
            }
            section{
                font-weight: 600;
                color: #333;
            }
            .matchingSkills{
                font-weight: normal;
                color: #333;
            }
            .myButton {
                box-shadow:inset 0px 1px 0px 0px #caefab;
                background:linear-gradient(to bottom, #c2ed9c 5%, #4b8c17 100%);
                background-color:#c2ed9c;
                border-radius:6px;
                border:1px solid #268a16;
                display:inline-block;
                color:#306108;
                font-family:Arial;
                font-size:15px;
                font-weight:bold;
                padding:6px 24px;
                text-decoration:none;
                text-shadow:0px 1px 0px #aade7c;
            }
            .myButton:hover {
                background:linear-gradient(to bottom, #4b8c17 5%, #c2ed9c 100%);
                background-color:#4b8c17;
            }            
        }
    }   
    .matchingOne{
        margin: 5%;
        box-shadow:3px 3px 5px 6px #ccc;
    
    }
    .matchingTwo{        
        margin: 5%;
        box-shadow:3px 3px 5px 6px #ccc;
    
    }
}